<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</body>
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Quiz App</h1>
        <nav>
            <a href="/">Home</a>
            <!-- <a href="/quiz">Start Quiz</a> -->
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <!-- Main Content -->
     <main>
        {% block content %}
        {% endblock %}
     </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Quiz App | Built with Flask</p>
    </footer>

</body>
</html>